In [1]:
import pandas as pd
import numpy as np

In [4]:
flats = pd.read_csv('flats_cleaned_lvl2.csv')
houses = pd.read_csv('house_cleaned_lvl2.csv')

In [6]:
df = pd.concat([flats,houses],ignore_index = True)

In [10]:
df.sample(5)

,property_name,society,property_type,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
3071,3 Bedroom House for sale in Laxman Vihar Phase 2,independent,house,0.67,8557.0,783.0,Plot area 87(72.74 sq.m.),3,2,1,"pooja room,others","Laxman Vihar Phase 2, Gurgaon, Haryana",1.0,South,5 to 10 Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Near by railways station near by market near b...,NaN,"['Feng Shui / Vaastu Compliant', 'Water Storag...",NaN
1678,3 BHK Flat in Sector 90 Gurgaon,shree vardhman flora,flat,0.85,4404.0,1930.0,Super Built up area 1930(179.3 sq.m.)Carpet ar...,3,4,3,"servant room,store room","305, Sector 90 Gurgaon, Gurgaon, Haryana",3.0,South-East,1 to 5 Year Old,"['IRIS Broadway Mall', 'Dwarka Expressway', 'S...",One of the best location of the society with g...,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction5 out of..."
1877,3 BHK Flat in Sector 82A Gurgaon,dlf the primus,flat,1.85,10283.0,1799.0,Super Built up area 1799(167.13 sq.m.)Carpet a...,3,3,3+,not available,"Sector 82A Gurgaon, Gurgaon, Haryana",2.0,South,1 to 5 Year Old,"['Sapphire 83', 'NH 48', 'Cambridge Montessori...","This 3 bhk flat is located in dlf the primus, ...","['6 Fan', '1 Exhaust Fan', '4 Geyser', '15 Lig...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction4.5 out ..."
263,4 BHK Flat in Sector 1 Imt Manesar,hsiidc sidco aravali,flat,0.90,3648.0,2467.0,Super Built up area 2467(229.19 sq.m.),4,4,3,not available,"Sector 1 Imt Manesar, Gurgaon, Haryana",7.0,NaN,5 to 10 Year Old,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...",We are the proud owners of this 4 bhk apartmen...,[],NaN,"['Environment5 out of 5', 'Safety4.5 out of 5'..."
1233,4 BHK Flat in Sector 111 Gurgaon,puri diplomatic greens,flat,3.45,11694.0,2950.0,Super Built up area 2950(274.06 sq.m.),4,5,3+,servant room,"Sector 111 Gurgaon, Gurgaon, Haryana",9.0,North-East,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'Gurgaon Dr...",This 4 bhk apartment is available for sale in ...,NaN,"['Power Back-up', 'Security / Fire Alarm', 'In...","['Green Area5 out of 5', 'Construction5 out of..."

In [12]:
# Shuffling the merged file

df = df.sample(df.shape[0],ignore_index = True)

In [14]:
df.sample(10)

,property_name,society,property_type,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1384,3 BHK Flat in Sector 65 Gurgaon,emaar mgf emerald floors premier,flat,2.30,13939.0,1650.0,Carpet area: 1650 (153.29 sq.m.),3,4,3,"pooja room,study room,servant room,store room","Sector 65 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['WorldMark Gurgaon', 'Sohna Road', 'Golf Cour...","Emerald floors premier, located in sector 65, ...","['1 Water Purifier', '1 Fan', '1 Fridge', '1 E...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4.5 out of 5', 'Construction5 out ..."
2939,2 BHK Flat in Sohna,mvn athens,flat,0.25,3671.0,681.0,Built Up area: 681 (63.27 sq.m.)Carpet area: 5...,2,2,1,not available,"Sohna, Gurgaon, Haryana",11.0,NaN,1 to 5 Year Old,"['SBI ATM', 'Axis bank ATM', 'UCO bank ATM', '...",This lovely 2 bhk semi furnished flat in secto...,"['2 Wardrobe', '1 Bed', '1 Water Purifier', '3...","['Power Back-up', 'Security / Fire Alarm', 'Li...","['Green Area4 out of 5', 'Construction4 out of..."
3600,5 Bedroom House for sale in New Colony,rattan garden,house,1.30,13499.0,963.0,Built Up area: 963 (89.47 sq.m.),5,3,2,not available,"New Colony, Sector 7, New Colony, Gurgaon, Har...",3.0,NaN,10+ Year Old,"['Chintapurni Mandir', 'Aryan Hospital', 'D.R....",Best in class property available at new colony...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
1681,3 BHK Flat in Sector 69 Gurgaon,tulip white,flat,0.91,6862.0,1326.0,Carpet area: 1326 (123.19 sq.m.),3,2,2,not available,"Sector 69 Gurgaon, Gurgaon, Haryana",12.0,NaN,5 to 10 Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...","Elegant, top floor with roof rights, well main...","['2 Wardrobe', '3 Fan', '1 Geyser', '4 Light',...","['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area4 out of 5', 'Amenities3.5 out of ..."
2999,3 BHK Flat in Sector 48 Gurgaon,central park resort belgravia residences,flat,6.25,24300.0,2572.0,Carpet area: 2880 (267.56 sq.m.),3,5,3+,servant room,"Sector 48 Gurgaon, Gurgaon, Haryana",5.0,South-East,5 to 10 Year Old,"['Decathlon Sohna Road', 'Raheja Mall', 'Eleme...","Situated in sector 48 gurgaon, central park re...","['6 Fan', '1 Exhaust Fan', '4 Geyser', '55 Lig...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2119,3 BHK Flat in Sector 74 Gurgaon,m3m skywalk,flat,2.45,12140.0,2018.0,Super Built up area 2018(187.48 sq.m.)Built Up...,3,3,3+,study room,"T2-1111, Sector 74 Gurgaon, Gurgaon, Haryana",25.0,South-West,1 to 5 Year Old,"['Omaxe Gurgaon Mall', 'Omaxe Celebration Mall...",This lovely 3 bhk apartment/flat in sector 74 ...,NaN,"['Centrally Air Conditioned', 'Security / Fire...",NaN
2691,3 BHK Flat in Nirvana Country,the close north,flat,3.00,11516.0,2605.0,Super Built up area 2605(242.01 sq.m.),3,3,3+,servant room,"Nirvana Country, Gurgaon, Haryana",14.0,North,10+ Year Old,"['Sector 55-56 Metro Station', 'Eros City Squa...","This beautiful 3 bhk flat in nirvana country, ...","['3 Wardrobe', '1 Water Purifier', '7 Fan', '1...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction4 out of..."
3308,3 BHK Flat in Palam Vihar,bestech park view residency,flat,1.40,7865.0,1780.0,Super Built up area 1780(165.37 sq.m.),3,3,3+,not available,"Palam Vihar, Gurgaon, Haryana",6.0,North,10+ Year Old,"['Dwarka Sector 21 Metro Station', 'HUDA Marke...",This is your chance to own a 3 bhk residential...,"['1 Water Purifier', '4 Fan', '1 Fridge', '1 E...","['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Green Area5 out of 5', 'Construction4 out of..."
1480,5 Bedroom House for sale in Jyoti Park,independent,house,1.16,11693.0,992.0,Plot area 992(92.16 sq.m.)Carpet area: 992 sq....,5,4,2,others,"Jyoti Park, Gurgaon, Haryana",3.0,North-East,5 to 10 Year Old,"['State bank ATM', 'Dr. Madan Clinic', 'Taneja...",110 sq yards well built up house for sale\nFac...,"['2 Wardrobe', '1 Modular Kitchen', '5 Curtain...","['Private Garden / Terrace', 'Water Storage', ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
2172,4 Bedroom House for sale in Sector 55 Gurgaon,independent,house,3.55,24500.0,1449.0,Plot area 161(134.62 sq.m.),4,4,3+,not available,"Sector 55 Gurgaon, Gurgaon, Haryana",2.0,NaN,10+ Year Old,"['Sector metro station', 'Sector metro station...",For sale 161yd independent house sector 55 gur...,"['6 Wardrobe', '9 Fan', '6 Geyser', '17 Light'...","['Feng Shui / Vaastu Compliant', 'High Ceiling...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [ ]:
df.to_csv('merged_house_flat_afterlvl2.csv')